openapi: 3.0.1
info:
  title: HMPPS Remand and Sentencing API
  description: Recording Remand and sentencing
  contact:
    name: HMPPS Digital Studio
    email: feedback@digital.justice.gov.uk
  version: 2024-09-16.2196.cff3ebc
servers:
  - url: https://remand-and-sentencing-api.hmpps.service.justice.gov.uk
    description: Prod
  - url: https://remand-and-sentencing-api-preprod.hmpps.service.justice.gov.ukk
    description: Preprod
  - url: https://remand-and-sentencing-api-dev.hmpps.service.justice.gov.uk
    description: Development
  - url: http://localhost:8080
    description: Local
tags:
  - name: court-appearance-controller
    description: Court Appearances
  - name: charge-controller
    description: Charges
paths:
  /court-appearance/{appearanceUuid}/charge:
    post:
      tags:
        - court-appearance-controller
      summary: Create Charge in appearance
      description: This endpoint will create a charge in a given court appearance
      operationId: createChargeCourtAppearance
      parameters:
        - name: appearanceUuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCharge'
        required: true
      responses:
        '201':
          description: Returns court case UUID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChargeResponse'
        '401':
          description: Unauthorised, requires a valid Oauth2 token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChargeResponse'
        '403':
          description: Forbidden, requires an appropriate role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChargeResponse'
components:
  schemas:
    CreateCharge:
      required:
        - offenceCode
        - offenceStartDate
        - outcome
      type: object
      properties:
        chargeUuid:
          type: string
          format: uuid
        appearanceUuid:
          type: string
          format: uuid
        offenceCode:
          type: string
        offenceStartDate:
          type: string
          format: date
        offenceEndDate:
          type: string
          format: date
        outcome:
          type: string
        terrorRelated:
          type: boolean
        sentence:
          $ref: '#/components/schemas/CreateSentence'
    CreatePeriodLength:
      required:
        - periodOrder
      type: object
      properties:
        years:
          type: integer
          format: int32
        months:
          type: integer
          format: int32
        weeks:
          type: integer
          format: int32
        days:
          type: integer
          format: int32
        periodOrder:
          type: string
    CreateSentence:
      required:
        - chargeNumber
        - custodialPeriodLength
        - sentenceServeType
        - sentenceType
      type: object
      properties:
        sentenceUuid:
          type: string
          format: uuid
        chargeNumber:
          type: string
        custodialPeriodLength:
          $ref: '#/components/schemas/CreatePeriodLength'
        extendedLicensePeriodLength:
          $ref: '#/components/schemas/CreatePeriodLength'
        sentenceServeType:
          type: string
        consecutiveToChargeNumber:
          type: string
        sentenceType:
          type: string
        convictionDate:
          type: string
          format: date
    CreateChargeResponse:
      required:
        - chargeUuid
      type: object
      properties:
        chargeUuid:
          type: string
          format: uuid
