generic-service:
  nameOverride: hmpps-remand-and-sentencing-api
  productId: "DPS014"
  serviceAccountName: hmpps-remand-and-sentencing-api
  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-remand-and-sentencing-api
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-remand-and-sentencing-api-cert
    annotations:
      nginx.ingress.kubernetes.io/server-snippet: |
        server_tokens off;
        location /document-admin/cleanup {
          deny all;
          return 401;
        }
        location /queue-admin/** {
          deny all;
          return 401;
        }
  # Environment variables to load into the deployment
  env:
    JAVA_OPTS: "-Xmx512m"
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    DB_SSL_MODE: "verify-full"

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-remand-and-sentencing-api:
      HMPPS_AUTH_CLIENT_ID: "CLIENT_ID"
      HMPPS_AUTH_CLIENT_SECRET: "CLIENT_SECRET"
    hmpps-remand-and-sentencing-api-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    rds-postgresql-instance-output:
        DB_SERVER: rds_instance_endpoint
        DB_NAME: database_name
        DB_USER: database_username
        DB_PASS: database_password
    hmpps-domain-events-topic:
      HMPPS_SQS_TOPICS_HMPPSDOMAINTOPIC_ARN: "topic_arn"
    sqs-prisoner-events-secret:
      HMPPS_SQS_QUEUES_PRISONERLISTENER_QUEUE_NAME: "sqs_queue_name"
    sqs-prisoner-events-dlq-secret:
      HMPPS_SQS_QUEUES_PRISONERLISTENER_DLQ_NAME: "sqs_queue_name"

  allowlist:
    cymulate-1: 54.217.50.18/32
    cymulate-2: 52.208.202.111/32
    cymulate-3: 52.49.144.209/32
    groups:
      - internal

  retryDlqCronjob:
    enabled: true

generic-prometheus-alerts:
  targetApplication: hmpps-remand-and-sentencing-api

generic-data-analytics-extractor:
  enabled: false
  databaseSecretName: rds-postgresql-instance-output
  destinationS3SecretName: analytical-platform-reporting-s3-bucket
  serviceAccountName: hmpps-remand-and-sentencing-to-ap-s3

documentCleanCronjob:
  enabled: true
  schedule: "0 2 * * *"
  timeZone: Etc/UTC
  securityContext:
    capabilities:
      drop:
        - ALL
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    seccompProfile:
      type: RuntimeDefault

image:
  tag: app_version

