<h1 class="title">RaS-Recalls-Immigration-Detention</h1>
{{#.}}
    <h2>Offender Details</h2>
    <table class="summary-list">
        <tr><td>Prisoner Number</td><td>{{ prisonerNumber }}</td></tr>
    </table>

    <h3>Immigration Detentions</h3>
    {{#immigrationDetentions}}
        <table class="data-table">
            <tr><td>Details</td></tr>
            <tr><td>Home Office Ref.</td><td>{{ optionalValue homeOfficeReferenceNumber }}</td></tr>
            <tr><td>No Longer of Interest Reason</td><td>{{ optionalValue noLongerOfInterestReason }}</td></tr>
            <tr><td>No Longer of Interest Comment</td><td>{{ optionalValue noLongerOfInterestComment }}</td></tr>
        </table>
    {{/immigrationDetentions}}
    {{^immigrationDetentions}}
        <p>No Immigration Detention Data Held</p>
    {{/immigrationDetentions}}
{{/.}}
{{^.}}
    <p>No Data Held</p>
{{/.}}