<html>
<head>
  <style>
    body {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px;
      color: #000;
    }

    table, td, th {
        font: inherit;
    }

    .restricted {
      text-align: center;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 40px;
    }

    .rule {
      font-weight: bold;
      margin-top: 20px;
    }

    .field-label {
      display: inline-block;
      width: 90px;
    }

    .section-title {
      font-weight: bold;
      margin-top: 20px;
    }

    .header {
      overflow: hidden;
      margin-bottom: 30px;
    }

    .addressee {
      float: left;
    }

    .date {
      float: right;
    }

    .form-title {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .version {
        text-align: center;
        font-size: xx-small;
    }

    .version:before {
        content: "VERSION : ";
    }

    .sentences-table {
      border-collapse: collapse;
      margin-top: 10px;
      width: 100%;
    }

    .sentences-table td {
      vertical-align: top;
      padding: 2px 0;
    }

    .sentences-table .periodLength {
      width: 220px;
    }

    .sentences-table .offence {
        width: 300px;
    }

    .sentences-table .fine-amount {
        width: 100px;
        text-align: right;
    }

    .sentences-table .total-row {
        text-align: right;
    }

    .total-row td {
      padding-top: 10px;
    }

    .part-b-table {
      margin-top: 10px;
    }

    .part-b-table td {
      padding: 4px 10px 4px 0;
    }

    .part-b-label {
      text-align: right;
      padding-right: 10px;
    }

    .authorised-person-label {
        padding-left: 20px;
    }

    .amount {
      text-decoration: underline;
      font-weight: bold;
    }

    .signature-block {
      margin-top: 60px;
    }

    .signature-label {
      display: inline-block;
      width: 130px;
      padding: 4px;
    }

    .fill-line {
        display: inline-block;
        border-bottom: 1px dotted #000;
    }

    .fill-line--money {
        width: 150px;
    }

    .fill-line--date {
        width: 80px;
    }

    .fill-line--signature {
        width: 260px;
    }

    .footer {
        position: relative;
    }

  </style>
</head>
<body>
  <p class="restricted">RESTRICTED</p>

  <div class="header">
    <div class="addressee">
      The Clerk of Justices<br/>
        {{#court}}
            {{#name}}{{name}}<br/>{{/name}}
            {{#premise}}{{premise}}<br/>{{/premise}}
            {{#street}}{{street}}<br/>{{/street}}
            {{#town}}{{town}}<br/>{{/town}}
            {{#county}}{{county}}<br/>{{/county}}
            {{#postalCode}}{{postalCode}}{{/postalCode}}
        {{/court}}
    </div>
    <div class="date">{{formatDate docGeneratedDate}}</div>
  </div>

  <p>Sir/Madam</p>
  <p class="rule">RULE 63(1) MAGISTRATES' COURTS RULES 1981</p>
  <p>
    <span class="field-label">Name</span>: <span id="name">{{name}}</span><br/>
    <span class="field-label">NOMS No</span>: <span id="nomsNumber">{{nomsNumber}}</span><br/>
  </p>

  <p class="section-title">PART A</p>
  <p>The above named prisoner was committed to prison by your court on {{formatDate sentenceDate}} to serve the following term(s) in default of payment:</p>

  <table class="sentences-table">
    {{#sentences}}
    <tr>
      <td class="periodLength">
        {{#termLengths}}
          {{formatPeriod .}}<br/>
        {{/termLengths}}
      </td>
      <td class="offence">{{offence}}</td>
      <td class="fine-amount">{{formatCurrency fineAmount}}</td>
      <td/>
    </tr>
    {{/sentences}}
    <tr class="total-row">
      <td class="periodLength"></td>
      <td class="offence">TOTAL :</td>
      <td class="fine-amount">{{formatCurrency totalFineAmount}}</td>
      <td/>
    </tr>
  </table>

  <p>I hereby certify that he was received into custody on {{formatDate sentenceDate}} and that he will cease to be held on warrant on <span class="fill-line fill-line--date"> </span>.</p>

  <p class="section-title">PART B</p>

  <p>I hereby certify that the above named prisoner was discharged from prison on <span class="fill-line fill-line--date"> </span> and that no monies were received on his/her behalf in respect of the amount due:</p>

  <table class="part-b-table">
    <tr>
      <td class="part-b-label">Paid after issue of warrant of commitment:</td>
        <td>&#163;<span class="fill-line fill-line--money"></span></td>
    </tr>
    <tr>
      <td class="part-b-label">Before reception into prison:</td>
        <td>&#163;<span class="fill-line fill-line--money"></span></td>
    </tr>
    <tr>
      <td class="part-b-label">After reception into prison:</td>
      <td><span class="amount">&#163;0.00</span></td>
    </tr>
    <tr>
      <td class="part-b-label">Total:</td>
        <td>&#163;<span class="fill-line fill-line--money"></span></td>
    </tr>
  </table>

  <div class="signature-block">
    <span class="signature-label">Signed</span>: <span class="fill-line fill-line--signature"></span><span class="authorised-person-label">Authorised person</span><br/>
    <span class="signature-label">Contact name</span>: <span class="fill-line fill-line--signature"></span><br/>
    <span class="signature-label">Telephone number</span>: {{telephoneNumber}}<br/>
    <span class="signature-label">{{prisonName}}</span>
  </div>

  <div class="footer">
      <div class="version">{{version}}</div>
      <div class="restricted">RESTRICTED</div>
      <div class="form-title">Form 986</div>
  </div>
</body>
</html>
