---
# Per environment values which override defaults in hmpps-remand-and-sentencing-api/values.yaml

generic-service:
  replicaCount: 10

  ingress:
    host: &ingressHost remand-and-sentencing-api-preprod.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    HMPPS_AUTH_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
    PRISON_API_URL: https://prison-api-preprod.prison.service.justice.gov.uk
    DOCUMENT_MANAGEMENT_API_URL: https://document-api-preprod.hmpps.service.justice.gov.uk
    ADJUSTMENTS_API_URL: "https://adjustments-api-preprod.hmpps.service.justice.gov.uk"
    INGRESS_URL: *ingressHost
    ENVIRONMENT_NAME: PREPROD
    FEATURES_FIX_MANY_CHARGES_TO_SENTENCE: enabled

  allowlist:
    penetration-test-ip-1: 54.37.241.156/30
    penetration-test-ip-2: 167.71.136.237/32
    groups:
      - internal
      - circleci

  resources:
    requests:
      memory: 2G
    limits:
      memory: 4G

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: legacy-replacement-alerts-non-prod
